# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\machinlearning_projects\Combined_Cycle_Power_Plant\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
